services:
  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    depends_on:
      - identity-service
      - ws-service

  identity-service:
    build: ./identity-service
    env_file: ./identity-service/.env
    depends_on:
      - mongodb

  ws-service:
    build: ./websocket-service
    environment:
      - PORT=8080
      - GIN_MODE=release

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"

# docker-compose up --build